.title-head {
    font-size: 7em;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    /*font-style: italic;*/
    color: black;
    /*text-shadow: black 2px 2px, black -2px 2px, black -2px -2px, black 2px -2px;*/
}
.all{
    background-color: #f9fafc;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    min-height: 90vh;
    color: grey;
}
.logo-title {
    size: 3em;
}
.connexion{
    background-color: dodgerblue;
}
