<app-nav></app-nav>
<div class="container-fluid d-flex flex-column align-items-center justify-content-center all">
    <img class="logo-title" src="../../assets/images/wimslogo.png">
    <div class="title-head">Welcome In My Stream</div>
    <p>Vous avez toujours rêvé de pouvoir jouer avec votre streamer préféré? Wims est le premier site qui vous permet de le faire.</p>
    <div class="d-flex mb-5 mt-5">
        <a [routerLink]="['/Choice']" class="btn btn-warning mr-5">Connexion/Inscription</a>
        <a [routerLink]="['/A propos']" class="btn connexion ml-3">En savoir plus</a>
    </div>
</div>
<app-footer></app-footer>
