.menu{

  background-color: #FF9558;
  width: 100%;
}
#logo{
    max-width: 4%;
}

a, nav-link{
    color: white;
    cursor: pointer;
}

.navbar-right {
    color: white
}

.fa-coins {
    color: gold;
    margin-right: 5px;
}

.button-search, .button-profile {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    color: white;
}

#form-search {
    margin-left: 2em;
}

