<nav class="menu navbar navbar-expand-lg">

    <img src="../../assets/images/wimslogo.png" id="logo" [routerLink]="['/home']">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="this.currentUser != undefined" class="nav-item">
                <a class="nav-link" (click)="deconnect()">Se déconnecter</a>
            </li>
            <li *ngIf="this.currentUser == undefined" class="nav-item">
                <a [routerLink]="['/Choice']" class="nav-link">Se connecter</a>
            </li>
            <li *ngIf="this.currentUser != undefined && this.currentUser.RoleId === 2" class="nav-item">
                <a [routerLink]="['/Offer']" class="nav-link">Poster une offre</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/AllOffers']" class="nav-link">Toutes les offres</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/Contact']" class="nav-link">Contact</a>
            </li>
            <li>
                <a [routerLink]="['/Profile']" class="nav-link">Votre profil</a>
            </li>
        </ul>

        <div class="navbar-right form-inline">
            <i *ngIf="this.currentBalance != null" class="fas fa-coins"></i>
            {{currentBalance}}
            <form id="form-search">
                <input *ngIf="searchIsOpen" type="text" placeholder="Rechercher une offre par streamer" id="search-input" [(ngModel)]="inputText" name="input">
                <button *ngIf="!searchIsOpen" class="button-search" (click)="openSearchBar()"><i class="fas fa-search"></i></button>
                <button *ngIf="searchIsOpen" id="search-button" class="button-search" type="submit" (click)="searchQuery()"><i class="fas fa-search"></i></button>
            </form>
            <div *ngIf="this.currentUser != undefined">
                <button mat-button [matMenuTriggerFor]="menu" class="btn fa fa-user"></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/Profile']">Profil</button>
                    <button mat-menu-item (click)="deconnect()">Se déconnecter</button>
                </mat-menu>
            </div>


        </div>
    </div>
</nav>
