.menu{

  background-color: #FF9558;
  width: 100%;
}
#logo{
    max-width: 4%;
}
a{
    color: white;
}

.navbar-right {
    color: white
}

.fa-coins {
    color: gold;
    margin-right: 5px;
}

.button-search {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    color: white;
}

