.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}
.price{
  font-size: 2em;
  color: red;
  font-weight: bold;
}

.printBest {
    font-size: 3em;
    color: greenyellow;
    font-family: Calibri;
    font-weight: bold;
}

.buttonAuction {
    font-size: 2em;
    font-family: Calibri;
    color: white;
    background-color: orange;
    /*padding: 0 70px;*/
}

.thin {
    color: black;
    font-weight: normal;
    font-size: 20px;
}

.imgGame {
    height: 296px;
}
