<app-nav></app-nav>
<div class="container">
<div class="row">
        <div class="mt-5 col-lg-4 "  *ngFor="let o of offer">
            <mat-card class="ml-3 mr-3 mb-5">
                <div class="d-flex justify-content-center">
                    <img src="{{o.Game.GameImage}}">
                </div>
                {{o.Id}}
                <mat-card-header class="d-flex justify-content-around">
                    <div mat-card-avatar class="example-header-image"></div>

                    <!--<p>{{getGame(o.Game.Id)}}</p>-->
                    <p>{{o.Game.GameName}}</p>
                </mat-card-header>
                <mat-card-content class="d-flex flex-column align-items-center" >
                    <p>{{o.Description}}</p>
                    <!--<button *ngIf="encherir !== auction.Id" class="btn btn-warning" (click)="Encherir(auction.Id)">Enchérir</button>-->
                    <!--<div *ngIf="encherir === auction.Id">-->
                        <!--<form [formGroup]="formNewAuction" class="form-group d-flex flex-column align-items-center">-->
                            <!--<input type="number" class="form-control mb-3">-->
                            <!--<input type="submit" class="btn btn-warning">-->
                        <!--</form>-->
                    <!--</div>-->
                </mat-card-content>

                <mat-card-actions class="d-flex justify-content-center">
                </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>


