<app-nav></app-nav>
<div class="container">
<div class="row">
        <div class="mt-5 col-lg-4 "  *ngFor="let o of offer">
            <mat-card class="ml-3 mr-3 mb-5">
                <div class="d-flex justify-content-center">
                    <img src="{{o.Game.GameImage}}">
                </div>
                {{o.Twitcher.Pseudo}}
                <mat-card-header class="d-flex justify-content-around">
                        <img mat-card-avatar class="example-header-image" src="{{o.Twitcher.Avatar}}">
                    <p style="font-family: Impact; color: dodgerblue; font-size: 20px;">{{o.Game.GameName}}</p>
                </mat-card-header>
                <mat-card-content class="d-flex flex-column align-items-center" >
                    <p *ngIf="this.editMode == false || editableId != o.Id" id="descOffer-{{o.Id}}">{{o.Description}}</p>
                    <button *ngIf="this.editMode == false" (click)="modifyDesc(o.Id)"><i class="fas fa-pencil-alt"></i></button>

                    <input *ngIf="this.editMode == true && editableId == o.Id" id="descToEdit-{{o.Id}}" value="{{o.Description}}">
                    <button id="submitDesc" *ngIf="this.editMode == true && editableId == o.Id" (click)="editModeOff()"><i class="fa fa-check"></i></button>

                    <p *ngIf="getBestAuction(o.Id) == 0" class="printBest">{{o.AuctionStartValue}}</p>
                    <p *ngIf="getBestAuction(o.Id) != 0" class="printBest">{{getBestAuction(o.Id)}}</p>
                </mat-card-content>

                <mat-card-actions class="d-flex justify-content-center">
                    <form class="mt-5 d-flex flex-column justify-content-center align-items-center" [formGroup]="formNewAuction" (ngSubmit)="encherir(o.Id)">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input class="form-control input-number" type="number" id="auctionValue" [formControl]="formNewAuction.controls['auctionValue']">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <button type="submit" class="buttonAuction">Faire Offre</button>
                    </form>
                </mat-card-actions>

                <mat-card-actions class="d-flex justify-content-center">
                </mat-card-actions>

                <!--<mat-card-actions class="d-flex justify-content-center">-->
                    <!--<button class="buttonDirectBuy" (click)="directPurchase()">Faire Offre</button>-->
                <!--</mat-card-actions>-->
            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>


