<div class="container-fluid">
  <div class="row">

    <!-- streamer -->
    <div id="blue" (mouseover)="blueOver()" (mouseout)="blueOut()" class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
      <div *ngIf="streamer !== 2">
        <button id="buttonStreamer" class="btn d-flex flex-column align-items-center" (click)="formStreamer(1)">
          <div id="orangeblue" class="d-flex justify-content-center align-items-center iconBig">
            <img id="img-manette" class="logo-manette" src="../../assets/images/manette.png">
          </div>
          <p class="streamerTitle mt-2" id="streamer">STREAMER</p>
        </button>
      </div>
      <!--Formulaire de Connexion-->
      <div *ngIf="streamer === 1">
        <form [formGroup]="formConnexionStreamer" (ngSubmit)="onSubmitConnexionStreamer()" id="formConnexionS">
          <div class="alert alert-danger col-lg-12" *ngIf="formConnexionStreamer.controls['pseudoStreamer'].invalid && (formConnexionStreamer.controls['pseudoStreamer'].errors
            && submittedConnectionStreamer === false) || IsMdpStreamer === false || pswdIncorrect === true">
            Le pseudo ou le mot de passe n'est pas correct
          </div>
          <div class="d-flex flex-column form-group">
            <input type="text" id="pseudoStreamer" placeholder="Votre pseudo" class="mb-3 form-control"
                   [formControl]="formConnexionStreamer.controls['pseudoStreamer']" >
            <input type="password" id="mdpStreamer" placeholder="Votre mot de passe" class="mb-3 form-control"
                   [formControl]="formConnexionStreamer.controls['mdpStreamer']">
            <div class="d-flex flex-column align-items-center">
              <input type="submit" class="btn btn-light"  value="Connexion">
              <button class="btn" (click)="streamerInscription(2)">
                <p>Pas encore  inscrit?</p>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!--Formulaire d'inscription-->
      <div *ngIf="streamer === 2">
        <p class="mb-3 inscriptionText">Inscription</p>
        <form [formGroup]="formInscriptionStreamer" (ngSubmit)="onSubmitInscriptionStreamer()">
          <div *ngIf="(formInscriptionStreamer.controls['prenom'].invalid || formInscriptionStreamer.controls['nom'].invalid || formInscriptionStreamer.controls['mail'].invalid ||
formInscriptionStreamer.controls['pseudo'].invalid || formInscriptionStreamer.controls['mdp'].invalid || formInscriptionStreamer.controls['mdpValidation'].invalid ||
formInscriptionStreamer.controls['pseudoTwitch'].invalid || formInscriptionStreamer.controls['lienTwitch'].invalid)
&& submittedInscriptionStreamer===false || IsPseudoAndMailStreamerUnique === false || IsMdpAndCheckedMdpStreamer === false" class="alert alert-danger d-flex flex-column align-items-center">
            Vérifier les champs suivants:
          </div>
            <div *ngIf = "IsMdpAndCheckedMdpStreamer === false" class="alert alert-danger">
                <p>Votre mot de passe de vérification n'est pas le même que votre mot de passe</p>
            </div>
            <div *ngIf = "IsPseudoAndMailStreamerUnique === false" class="alert alert-danger">
                <p>Votre pseudo ou votre email a déjà été utilisé</p>
            </div>
            <div *ngIf="(formInscriptionStreamer.controls['prenom'].invalid && submittedInscriptionStreamer === false)" class="alert alert-danger">
              <p>Prénom</p>
            </div>
            <div *ngIf="formInscriptionStreamer.controls['nom'].invalid && submittedInscriptionStreamer===false" class="alert alert-danger">
              <p>Nom</p>
            </div>
          <div *ngIf="formInscriptionStreamer.controls['mail'].invalid && submittedInscriptionStreamer===false" class="alert alert-danger">
            <p>Mail</p>
          </div>
          <div *ngIf="formInscriptionStreamer.controls['pseudo'].invalid && submittedInscriptionStreamer===false" class="alert alert-danger">
            <p>Pseudo</p>
          </div>
          <div *ngIf="formInscriptionStreamer.controls['mdp'].invalid && submittedInscriptionStreamer===false" class="alert alert-danger">
            <p>Mot de passe</p>
          </div>
          <div *ngIf="formInscriptionStreamer.controls['pseudoTwitch'].invalid && submittedInscriptionStreamer===false" class="alert alert-danger">
            <p>Pseudo Twitch</p>
          </div>
          <div *ngIf="formInscriptionStreamer.controls['lienTwitch'].invalid && submittedInscriptionStreamer===false" class="alert alert-danger">
            <p>Lien vers votre compte Twitch</p>
          </div>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Données personnelles
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="d-flex flex-column">
              <label for="prenom">Prénom:*</label>
              <input type="text" id="prenom" class="form-control" placeholder="Prénom"
                     [formControl]="formInscriptionStreamer.controls['prenom']">
            </div>
            <div class="d-flex flex-column">
              <label for="nom">Nom:*</label>
              <input type="text" id="nom" class="form-control" placeholder="Nom"
                     [formControl]="formInscriptionStreamer.controls['nom']">
            </div>
            <label for="mail">Mail:*</label>
            <input type="email" id="mail" class="form-control" placeholder="Mail"
                   [formControl]="formInscriptionStreamer.controls['mail']">
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Données de connexion</mat-panel-title>
          </mat-expansion-panel-header>
          <label for="pseudo">Pseudo:*</label>
          <input type="text" id="pseudo" class="form-control" placeholder="Pseudo"
                 [formControl]="formInscriptionStreamer.controls['pseudo']">
          <label for="mdp">Mot de passe:*</label>
          <input type="password" id="mdp" class="form-control" placeholder="Mot de passe"
                 [formControl]="formInscriptionStreamer.controls['mdp']">
          <label for="mdpValidation">Valider le mot de passe:*</label>
          <input type="password" id="mdpValidation" class="form-control" placeholder="Retapper le mot de passe"
                 [formControl]="formInscriptionStreamer.controls['mdpValidation']">
        </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Lien vers Twitch</mat-panel-title>
            </mat-expansion-panel-header>
            <label for="pseudoTwitch">Votre pseudo Twitch:*</label>
            <input type="text" id="pseudoTwitch" class="form-control" placeholder="Pseudo Twitch"
                   [formControl]="formInscriptionStreamer.controls['pseudoTwitch']">
            <label for="lienTwitch">Lien de votre chaine twitch</label>
            <input type="text" id="lienTwitch" class="form-control" placeholder="Lien vers votre compte Twitch"
                   [formControl]="formInscriptionStreamer.controls['lienTwitch']">
          </mat-expansion-panel>
        </mat-accordion>
          <div class="d-flex justify-content-center mt-3">
            <input type="submit" class="btn btn-light" value="Valider">
          </div>

        </form>
      </div>
    </div>

    <!-- viewer -->
    <div id="orange" (mouseover)="orangeOver()" (mouseout)="orangeOut()" class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
      <div *ngIf="viewer !== 2">
        <button id="buttonViewer" class="btn d-flex flex-column align-items-center" (click)="formViewer(1)">
          <div id="blueorange" class="d-flex justify-content-center align-items-center iconBig">
            <img id="img-screen" class="logo-screen" src="../../assets/images/screenEmpty.png">
          </div>
          <p class="viewerTitle mt-2" id="viewer">VIEWER</p>
        </button>
      </div>

      <!--Formulaire de connexion-->
      <div *ngIf="viewer === 1">
        <form [formGroup]="formConnexionViewer" (ngSubmit)="onSubmitConnexionViewer()" id="formConnexionV">
          <div class="alert alert-danger col-lg-12" *ngIf="formConnexionViewer.controls['pseudoViewer'].invalid && (formConnexionViewer.controls['pseudoViewer'].errors
            && submittedConnectionViewer === false) || formConnexionViewer.controls['mdpViewer'].invalid && (formConnexionViewer.controls['mdpViewer'].errors
            && submittedConnectionViewer === false)">
            Le pseudo ou le mot de passe n'est pas correct
          </div>
          <div class="d-flex flex-column form-group">
            <input type="text" id="pseudoViewer" placeholder="Votre pseudo" class="mb-3 form-control"
                   [formControl]="formConnexionViewer.controls['pseudoViewer']">
            <input type="password" id="mdpViewer" placeholder="Votre mot de passe" class="mb-3 form-control"
                   [formControl]="formConnexionViewer.controls['mdpViewer']">
            <div class="d-flex flex-column align-items-center">
              <input type="submit" class="btn btn-light"  value="Connexion">
              <button class="btn" (click)="viewerInscription(2)">
                <p>Pas encore  inscrit?</p>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!--Formulaire d'inscription-->
      <div *ngIf="viewer === 2">
        <form [formGroup]="formInscriptionViewer" (ngSubmit)="onSubmitInscriptionViewer()">
          <p class="mb-3 inscriptionText">Inscription</p>

          <div *ngIf="(formInscriptionViewer.controls['prenomViewer'].invalid || formInscriptionViewer.controls['nomViewer'].invalid || formInscriptionViewer.controls['mailViewer'].invalid
          || formInscriptionViewer.controls['pseudoVew'].invalid || formInscriptionViewer.controls['mdpVew'] || IsPseudoAndMailViewerUnique === false || IsMdpAndCheckedMdpViewer === false)
&& submittedInscriptionViewer===false " class="alert alert-danger d-flex flex-column align-items-center">
            Vérifier les champs suivants:
          </div>
            <div *ngIf="IsMdpAndCheckedMdpViewer === false" class="alert alert-danger">
                <p>Votre mot de passe de vérification n'est pas le même que votre mot de passe</p>
            </div>
            <div *ngIf="IsPseudoAndMailViewerUnique === false" class="alert alert-danger">
                <p>Votre Pseudo ou votre adresse mail ont déjà été utilisé</p>
            </div>
          <div *ngIf="formInscriptionViewer.controls['prenomViewer'].invalid && submittedInscriptionViewer===false" class="alert alert-danger">
            <p>Prenom</p>
          </div>
          <div *ngIf="formInscriptionViewer.controls['nomViewer'].invalid && submittedInscriptionViewer===false" class="alert alert-danger">
            <p>Nom</p>
          </div>
          <div *ngIf="formInscriptionViewer.controls['mailViewer'].invalid && submittedInscriptionViewer===false" class="alert alert-danger">
            <p>Mail</p>
          </div>
          <div *ngIf="formInscriptionViewer.controls['pseudoVew'].invalid && submittedInscriptionViewer===false" class="alert alert-danger">
            <p>Pseudo</p>
          </div>
          <div *ngIf="formInscriptionViewer.controls['mdpVew'].invalid && submittedInscriptionViewer===false" class="alert alert-danger">
            <p>Mot de passe</p>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Données personnelles
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="d-flex flex-column">
                <label for="prenomViewer">Prénom:*</label>
                <input type="text" id="prenomViewer" class="form-control" placeholder="Prénom"
                       [formControl]="formInscriptionViewer.controls['prenomViewer']">
              </div>
              <div class="d-flex flex-column">
                <label for="nomViewer">Nom:*</label>
                <input type="text" id="nomViewer" class="form-control" placeholder="Nom"
                       [formControl]="formInscriptionViewer.controls['nomViewer']">
              </div>
              <label for="mailViewer">Mail:*</label>
              <input type="email" id="mailViewer" class="form-control" placeholder="Mail"
                     [formControl]="formInscriptionViewer.controls['mailViewer']">
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Données de connexion</mat-panel-title>
              </mat-expansion-panel-header>
              <label for="pseudoVew">Pseudo:*</label>
              <input type="text" id="pseudoVew" class="form-control" placeholder="Pseudo"
                     [formControl]="formInscriptionViewer.controls['pseudoVew']">
              <label for="mdpVew">Mot de passe:*</label>
              <input type="password" id="mdpVew" class="form-control" placeholder="Mot de passe"
                     [formControl]="formInscriptionViewer.controls['mdpVew']">
              <label for="mdpValidationVew">Valider le mot de passe:*</label>
              <input type="password" id="mdpValidationVew" class="form-control" placeholder="Retapper le mot de passe"
                     [formControl]="formInscriptionViewer.controls['mdpValidationVew']">
            </mat-expansion-panel>
          </mat-accordion>
          <div class="d-flex justify-content-center mt-3">
            <input type="submit" class="btn btn-light" value="Valider">
          </div>
        </form>
      </div>
    </div>
  </div>

