#orange{
    min-height: 100vh;
    background-color: orange;
    opacity: 1;
}
#blue{
    min-height: 100vh;
    background-color: blue;
    opacity: 1;
}
#orangeblue{
    /*height: 200px;*/
    /*width: 200px;*/
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    background-color: orange;
    /*border-radius: 100%;*/
}
#blueorange{
    /*height: 200px;*/
    /*width: 200px;*/
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    background-color: blue;
    /*border-radius: 100%;*/
}

.iconBig{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.iconSmall{
    height: 130px;
    width: 130px;
    border-radius: 100%;
}

.logo{
    max-width: 150px;
}

.streamerViewer{
    font-size: 5em;
    font-weight: bold;
}

.resizeTitle{
    font-size: 8em;
}

.resizeIcon{
    max-width: 250px;
}

#streamer{
    color: orange;
}
#viewer{
    color: blue;
}
.btn{
  box-shadow: none;
}
.inscriptionText{
  color:white;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
