<app-nav></app-nav>
<div class="container all">
    <form class="mt-5 d-flex flex-column" [formGroup]="formProfile" (ngSubmit)="onSubmitProfile()">
        <!--<label for="sujet">Objet:</label>-->
        <label for="FirstName">Prénom</label>
        <input class="col-lg-3" type="text" id="FirstName" [formControl]="formProfile.controls['FirstName']">
        <label for="LastName">Nom</label>
        <input class="col-lg-3" type="text" id="LastName" [formControl]="formProfile.controls['LastName']">
        <label for="Pseudo">Pseudo</label>
        <input class="col-lg-3" type="text" id="Pseudo" [formControl]="formProfile.controls['Pseudo']">
        <label for="Pswd">Mot de passe</label>
        <input class="col-lg-3" type="password" id="Pswd" [formControl]="formProfile.controls['Pswd']">
        <label for="Email">Email:</label>
        <input class="col-lg-3" type="email" id="Email" [formControl]="formProfile.controls['Email']">
        <!--<label for="message">Message:</label>-->
        <!--<textarea class="col-lg-7" name="message" id="message" cols="20" rows="10" [formControl]="formContact.controls['message']"></textarea>-->
        <input type="submit" value="Envoyer" class="btn btn-warning mt-3">
    </form>
</div>
<app-footer></app-footer>
